<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lcx.mapper.QAndAScoreMapper">

    <select id="getCountByUidList" resultType="java.lang.Integer">
        select count(id) from q_and_a_score where uid in
        <foreach collection="uidList" item="uid" open="(" separator="," close=")">
            #{uid}
        </foreach>
    </select>

</mapper>