<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lcx.mapper.ScoreInfoMapper">

    <select id="getWrittenScoreList" resultType="com.lcx.pojo.Entity.SingleScore">
        select c.uid,c.name,ds.`group`,ds.zone,ds.seat_num,ds.written_score as score
        from score_info ds left outer join contestant c on c.uid=ds.uid
        where ds.`group`=#{group} and ds.zone=#{zone};
    </select>

    <select id="getPracticalScoreByUid" resultType="com.lcx.pojo.VO.CommonScore">
        select c.uid,c.name,s.practical_score as score from contestant c,score_info s
        where c.uid=s.uid and c.uid=#{uid};
    </select>

    <select id="getQAndAScoreByUid" resultType="com.lcx.pojo.VO.CommonScore">
        select c.uid,c.name,s.q_and_a_score as score from contestant c,score_info s
        where c.uid=s.uid and c.uid=#{uid};
    </select>

</mapper>