<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lcx.mapper.UserMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into user (username, password, nickname, rid, enabled,username_modifiable)
        values (#{username},#{password},#{nickname},#{rid},#{enabled},#{usernameModifiable})
    </insert>

    <update id="update">
        update user
        <set>
            <if test="username!=null">username=#{username},</if>
            <if test="password!=null">password=#{password},</if>
            <if test="nickname!=null">nickname=#{nickname},</if>
            <if test="avatar!=null">avatar=#{avatar},</if>
            <if test="enabled!=null">enabled=#{enabled},</if>
            <if test="usernameModifiable!=null">username_modifiable=#{usernameModifiable}</if>
        </set>
        where id=#{id};
    </update>

</mapper>